
*target*
*.jar
*.war
*.ear
*.class

# eclipse specific git ignore
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
localDB.properties
.classpath
.settings/
.loadpath

error_hotspot.xml
hs_err_pid*
